@charset "UTF-8";
* {font-family:malgun Gothic, "맑은고딕","Helvetica Neue",Helvetica,Arial,sans-serif;}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, blockquote{margin:0px; padding:0px;}
body	{ font-size:13px; /*background:url("../images/common/body_bg.gif") left top repeat;*/  background-color: #ffffff;}
img		{border:none;}
ul, ol	{list-style: none;}
label	{vertical-align:absmiddle;}
select, input, textarea, button{font-size:12px; color:#7d7c7c; vertical-align:middle;}
button { border:none; background:transparent; margin:0; padding:0; }
button:hover{cursor:pointer;}
a		{text-decoration:none; color:inherit;}
a:hover	{color:inherit;}
.b { font-weight:bold; }
input[type=text], input[type=password], textarea{padding:5px 0px; border:1px solid #d6d6d6; font-size:13px; color:#666;}
input[type="file"]{border:none; outline:none; background:;}
.input{height:28px !important; padding:0px !important; border:1px solid #d6d6d6 !important; font-size:13px; color:#666;}
.select{border:1px solid #ddd; height:30px !important; line-height:21px; margin:4px 0;}
.textArea{border:1px solid #d6d6d6; font-size:13px; color:#666;}

.boxShadow{box-shadow:0.5px 1px 2px 0px rgba(0,0,0,0.34); }
.gap{display:inline-block; width:100%; height:1px; font-size:0px; line-height:0px; background:#fff; border-bottom:1px dashed #ddd; margin:50px 0px;}
