@CHARSET "UTF-8";

a:link, a:visited {text-decoration: none; color: #656565;}

.board_list {width:100%;border-top:5px solid pink;border-bottom:1px solid #ccc}
.board_list thead th:first-child{background-image:none}
.board_list thead th {border-bottom:1px solid #ccc;padding:12px 0 13px 0;color:#3b3a3a; text-align:center; vertical-align:middle}
.board_list tbody td {border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle}
.board_list tbody tr:first-child td {border:none}
.board_list tbody td.title {text-align:left; padding-left:20px}
.board_list tbody td a {display:inline-block}

.board_view {width:100%;border-top:2px solid #252525;border-bottom:1px solid #ccc}
.board_view tbody th {text-align:left;background:#f7f7f7;color:#3b3a3a}
.board_view tbody th.list_tit {font-size:13px;color:#000;letter-spacing:0.1px}
.board_view tbody .no_line_b th, .board_view tbody .no_line_b td {border-bottom:none}
.board_view tbody th, .board_view tbody td {padding:15px 0 16px 16px;border-bottom:1px solid #ccc}
.board_view tbody td.view_text {border-top:1px solid #ccc; border-bottom:1px solid #ccc;padding:45px 18px 45px 18px}
.board_view tbody th.th_file {padding:0 0 0 15px; vertical-align:middle}

span.star-prototype, span.star-prototype > * {
    height: 16px; 
    background: url(http://i.imgur.com/YsyS5y8.png) 0 -16px repeat-x;
    border: 3px solid #fff
    width: 80px;
    display: inline-block;
}
 
span.star-prototype > * {
    background-position: 0 0;
    max-width:80px; 
}
.wdp_20 {width:20%}
.wdp_90 {width:90%}
.btn01{background-color: #ffffff; color: #000;}
.example01{padding: 5px; text-align: center; border: 1px solid #008DFF;}
.btn1 {border-radius:3px;padding:5px 11px;color:#000000 !important; display:inline-block; background-color:#F0F8FF; float:center; border:1px solid #56819d;vertical-align:middle}
.btn2 {border-radius:3px;padding:5px 11px;color:#000000 !important; display:inline-block; background-color:#F0FFFF; float:center; border:1px solid #56819d;vertical-align:middle}
.btn3 {border-radius:3px; padding:5px 11px;color:#000000 !important;  background-color:#FFFFFF; float:center; vertical-align:middle}
.btn4 { border-radius:3px; width:20%; padding:5px 11px;color:#000000 !important; border:0; background-color:#fff;  float:center; vertical-align:middle}